<aside>
    <div class="top">
        <div class="logo">
            <img src="/assets/Apple.svg" alt="">
            <h2>Tressor <span>Pressing</span></h2>
        </div>
        <div class="close" id="close-btn">
            <img src="/assets/close_FILL0_wght400_GRAD0_opsz24.png" alt="">
        </div>
    </div>

    <div class="sidebar">
        <a routerLink="/admin" routerLinkActive="active">
            <img src="/assets/grid_view_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Dashboad</h3>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/person_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Customers</h3>
        </a>
        <a routerLink="/commands" routerLinkActive="active">
            <img src="/assets/receipt_long_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Commands</h3>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/trending_up_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Analytics</h3>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/mail_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Messages</h3>
            <span class="message-count">26</span>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/report_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Reports</h3>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/settings_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Settings</h3>
        </a>
        <a routerLink="#" routerLinkActive="active">
            <img src="/assets/logout_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <h3>Logout</h3>
        </a>
    </div>
</aside>
