<body>
    <app-nav-bar></app-nav-bar>
    <div class="txt">
        <p>Select Your Pressing</p>
    </div>
    <div class="container">
        <div class="pressing" *ngFor="let dresses of dress">
            <div class="image" (click)="openDialog(dresses)">
                <img src={{dresses.img}} alt="pressing" width="100%" height="100%">
            </div>
            <div class="details">
                <span class="name">{{dresses.pressing_name}}</span>
                <span class="location">{{dresses.location}}</span>   
                <span class="open">{{dresses.open}}</span>
            </div>
        </div>        
        </div>
</body>
