<body>
    <div class="container">
        <app-aside-navbar></app-aside-navbar>
        <div class="recent-orders">
            <h1 class="title">Commands</h1>
            <table>
                <thead>
                    <th>Customers name</th>
                    <th>Customers number</th>
                    <th>Number of clothes</th>
                    <th>Payment</th>
                </thead>
                <tbody>
                    <td>Andy</td>
                    <td>674500933</td>
                    <td>5</td>
                    <td>25000</td>
                </tbody>
            </table>
            <a href="">Show All</a>
        </div>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <img src="" alt="">
                </button>
                <div class="theme-toggler">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Tressor</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="/assets/SportsCo.png" alt="" width="50px">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
