<header>
    <div class="navbar">
        <div class="logo"><a href=""><h1>Virtual Pressing</h1></a></div>
        <ul class="links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/widthdraw">widthdraw</a></li>
            <li><a routerLink="/admin">Admin-Dashboard</a></li> 
        </ul>
        <a routerLink="/sign-up" class="action_btn">Sign-up</a>
        <div class="toggle_btn">
            <img src="/assets/bars-svgrepo-com.svg" alt="" width="50px">
        </div>
    </div>
    <div class="dropdwn_menu open">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/widthdraw">widthdraw</a></li>
        <li><a routerLink="/history">History</a></li>
        <li><a href="" class="action_btn">Sign-up</a></li>  
    </div>
</header>



